  @media screen and (min-width:320px) and (max-width:767px) {

    .command {
        padding-top: 94px;
        padding-bottom: 94px;
        background-color: #F5F4FA;
      
        // &__list{
        //   display: flex;
        //   justify-content: space-between;
        // }
        &__title {
          @include font(700,36px,42px);
          text-align: center;
          letter-spacing: 0.03em;
        
          color: $title-text-color;
          margin-bottom: 30px;
        }
        &__item{
          margin-bottom: 30px;
         
        }
      }
    .dev{
    
      &__content {
        text-align: center;
        background-color: #fff;
      
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
      }
      &__img{
     display: block;
  width: 100%;
      }
      &__name {
          padding-top: 30px;
          @include font(500,16px,19px);
        text-align: center;
        letter-spacing: 0.03em;
      
        color: $title-text-color;
        margin-bottom: 10px;
      }
      &__position {
        @include font(400,16px,19px);
        text-align: center;
        letter-spacing: 0.03em;
      
        color: $primary-text-color;
        margin-bottom: 16px;
       
      }
    }
    
  }
  

  // .command {
    //     padding-top: 94px;
    //     padding-bottom: 94px;
    //     background-color: #F5F4FA;
      
    //     &__list{
    //       display: flex;
    //       justify-content: space-between;
    //     }
    //     &__title {
    //       @include font(700,36px,42px);
    //       text-align: center;
    //       letter-spacing: 0.03em;
        
    //       color: $title-text-color;
    //       margin-bottom: 50px;
    //     }
    //   }
    // .dev{
    
    //   &__content {
    //     text-align: center;
    //     background-color: #fff;
      
    //   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    //   border-radius: 0px 0px 4px 4px;
    //   }
    //   &__name {
    //       padding-top: 30px;
    //       @include font(500,16px,19px);
    //     text-align: center;
    //     letter-spacing: 0.03em;
      
    //     color: $title-text-color;
    //     margin-bottom: 10px;
    //   }
    //   &__position {
    //     @include font(400,16px,19px);
    //     text-align: center;
    //     letter-spacing: 0.03em;
      
    //     color: $primary-text-color;
    //     margin-bottom: 16px;
       
    //   }
    // }