// /* Цвет основного текста #757575*/
// /* Вторичный цвет текста  #212121*/
// /* Белый 
// #FFFFFF */
// /* Серый #AFB1B8 */
// /* Акцент 
// #2196F3 */

  

$main-font: "Roboto", sans-serif;
  $secondary-font: "Raleway", sans-serif;
  $primary-text-color: #757575;
  $title-text-color: #212121;
  $accent-color: #2196f3;
  $primary-white-color: #ffffff;
  $primary-gray-color: #afb1b8;
  $replacement-color: tomato;